@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Locked profile
}

<p>Dear,</p>

<p>
        Your profile is locked. Contact an administrator to unlock it for you,
        and then click the link to change your password:
</p>
<p>
    @ViewBag.Callback
</p>