@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Нов корисник}

    <p>
        Dear,
    </p>
    <p>
        A new user has been created with,
    </p>
    <p>
        Username: <b>@ViewBag.Username</b> <br />
        Email: <b>@ViewBag.Email</b> <br />
        Password: <b>@ViewBag.Password</b>
    </p>
    <p>
        To complete the registration and confirm the email address, click on the following <a href="@ViewBag.Callback">link</a>.
    </p>