@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Ресетирање лозинка
}

<p>Dear,</p>

    <p>Your password has been reset. To enter a new password of your choice, click on the link:</p>

<p>
    @ViewBag.Callback
</p>
